<div class="splide" id="splide-manufacturers">
    <div class="splide__track">
        <ul class="splide__list flex items-center">
            {
                Array(11)
                    .fill(null)
                    .map((_, i) => (
                        <li
                            class="splide__slide rounded-lg overflow-hidden border border-primary-yellow-200 px-6 py-4 bg-white"
                            data-index={i}
                        >
                            <img
                                class="splide-slide-image transition-all duration-500 ease-in-out"
                                style={{ opacity: 0 }}
                                data-src={`/images/brands/${i + 1}.jpg`}
                                alt="Logo producenta"
                            />
                        </li>
                    ))
            }
        </ul>
    </div>
</div>

<script>
    import Splide from '@splidejs/splide'
    import { AutoScroll } from '@splidejs/splide-extension-auto-scroll'
    import '@splidejs/splide/css'

    const slidesPerPage = {
        1024: 5,
        768: 4,
        640: 3,
    }

    let pageW = window.innerWidth

    let perPage = 2
    for (const [windowSize, slidesNumber] of Object.entries(slidesPerPage)) {
        if (pageW > Number.parseInt(windowSize)) {
            perPage = slidesNumber
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        const splide = new Splide('.splide', {
            type: 'loop',
            gap: perPage * 10,
            drag: 'free',
            focus: 'center',
            arrows: false,
            perPage: perPage,
            lazyLoad: 'nearby',
            pagination: false,
            autoScroll: {
                speed: 0.3,
                pauseOnFocus: false,
                pauseOnHover: false,
                rewind: false,
            },
            pauseOnFocus: false,
            pauseOnHover: false,
        })

        splide.mount({ AutoScroll })
    })

    const loadSliderImages = () => {
        document.querySelectorAll('.splide-slide-image').forEach(img => {
            if (img instanceof HTMLImageElement) {
                img.src = img.dataset.src!
                img.style.opacity = '1'
            }
        })
    }

    if (!!window.IntersectionObserver) {
        const observer = new IntersectionObserver((entries, observer) => {
            if (!entries[0].isIntersecting) return

            console.log('works!')
            loadSliderImages()
            observer.unobserve(entries[0].target)
        })

        observer.observe(document.getElementById('splide-manufacturers')!)
    } else {
        loadSliderImages()
    }
</script>
