---
import Button from "./Button.astro";

---

<nav class="bg-white border-b border-stone-100">
    <div class="wl-container py-4">
        <div class="flex items-center justify-between">
            <div>
                <a href="/" title="Początek strony sigmatorun.pl" class="uppercase tracking-wider py-2 inline-block border-r border-stone-100 px-5 text-xl font-semibold hover:bg-stone-50">Sigma</a>
            </div>
            <div>
                <Button href={"https://maps.google.com"}>Dojazd</Button>
            </div>
        </div>
    </div>
</nav>