---
import BaseHead from '../components/BaseHead.astro'
import Nav from '../components/Nav.astro'
import type { Props as BaseHeadProps } from '../components/BaseHead.astro'

import '../styles/app.css'
import '../styles/fonts.css'
import '../styles/tailwind.css'

export interface Props {
    meta?: BaseHeadProps
}

const { meta } = Astro.props
---

<html lang="pl">
    <head>
        <BaseHead {...meta} />
    </head>
    <body>
        <Nav />
        <main>
            <slot />
        </main>
    </body>
</html>
