---
import BaseHead from '../components/BaseHead.astro'
import Nav from '../components/Nav/Nav.astro'
import type { Props as BaseHeadProps } from '../components/BaseHead.astro'

import '../styles/app.css'
import '../styles/fonts.css'
import '../styles/tailwind.css'
import { H2, H3, Paragraph } from '../components/typography'

export interface Props {
    meta?: BaseHeadProps
}

const { meta } = Astro.props
---

<html lang="pl">
    <head>
        <BaseHead {...meta} />
    </head>
    <body>
        <Nav />
        <main class="mt-[78px] sm:mt-[112px]">
            <slot />
        </main>
        <div class="wl-container pt-12 pb-10 sm:pb-24" id="kontakt">
            <div>
                <H2>Kontakt</H2>
            </div>
            <div class="sm:flex sm:items-center">
                <div class="flex-1">
                    <ul
                        class="grid grid-cols-12 mt-6 xl:mt-0 gap-y-6 xl:gap-y-0 gap-x-6"
                    >
                        <li class="col-span-12 md:col-span-6 xl:col-span-4">
                            <a
                                href="tel:56 655 17 17"
                                class="hover:text-primary-yellow-400 border border-stone-200 block text-center py-4 font-semibold hover:border-primary-yellow-100"
                            >
                                56 655 17 17</a
                            >
                        </li>
                        <li class="col-span-12 md:col-span-6 xl:col-span-4">
                            <a
                                href="tel:661 946 423"
                                class="hover:text-primary-yellow-400 border border-stone-200 block text-center py-4 font-semibold hover:border-primary-yellow-100"
                            >
                                661 946 423</a
                            >
                        </li>
                        <li class="col-span-12 md:col-span-12 xl:col-span-4">
                            <a
                                href="mailto:sigmatorun@gmail.com"
                                class="hover:text-primary-yellow-400 border border-stone-200 block text-center py-4 font-semibold hover:border-primary-yellow-100"
                            >
                                sigmatorun@gmail.com</a
                            >
                        </li>
                    </ul>
                    <a
                        href="https://www.facebook.com/Sigma-Galeria-Lamp-1566203500315512/?fref=ts"
                        class="mt-8 sm:mt-3 font-medium flex items-center text-neutral-500 hover:text-primary-yellow-400"
                        ><span
                            class="w-10 h-[1px] inline-block bg-stone-200 mr-5"
                        ></span> Facebok Sigma Galeria Lamp</a
                    >
                </div>
                <div
                    class="max-w-xs sm:max-w-full sm:w-[300px] mt-12 sm:mt-0 pl-10 sm:ml-10 border-l border-stone-200"
                >
                    <H3>Lokalizacja</H3>
                    <Paragraph className="!text-base mt-4"
                        >Nasz sklep mieści się w galerii AMC w Toruniu na ulicy
                        Lelewela 33.</Paragraph
                    >
                    <span
                        class="text-sm font-normal mt-4 inline-block text-neutral-500"
                    >
                        Galeria AMC, Lelewela 33, 87-100 Toruń</span
                    >
                </div>
            </div>
        </div>
        <div class="bg-black">
            <div class="mapouter opacity-100">
                <div class="gmap_canvas relative">
                    <iframe
                        width="100%"
                        height="500"
                        title="Lokalizacja sklepu Sigma w Toruniu na google maps"
                        id="gmap_canvas"
                        src="https://maps.google.com/maps?q=sigma%20toru%C5%84&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        frameborder="0"
                        scrolling="no"
                        marginheight="0"
                        marginwidth="0"></iframe><a
                        href="https://fmovies-online.net">fmovies</a
                    ><br /><style>
                        .mapouter {
                            position: relative;
                            text-align: right;
                            height: 500px;
                            width: 100%;
                        }
                    </style><a href="https://www.embedgooglemap.net"
                        >google maps widget</a
                    ><style>
                        .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                            height: 500px;
                            width: 100%;
                        }
                    </style>
                    <div class="absolute left-16 bottom-2 text-left">
                        <div class="text-[.65rem] font-medium text-neutral-400">
                            Design & Realization{' '}
                        </div>
                        <a
                            href="https://wlodev.com"
                            title="wlodev.com portfolio"
                            target="_blank"
                            class="text-base font-semibold text-white hover:text-neutral-200"
                        >
                            wlodev.com
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
