---
import BaseHead from '../components/BaseHead.astro'
import Nav from '../components/Nav.astro'
import type { Props as BaseHeadProps } from '../components/BaseHead.astro'

import '../styles/app.css'
import '../styles/fonts.css'
import '../styles/tailwind.css'
import { H2, H5, Paragraph } from '../components/typography'

export interface Props {
    meta?: BaseHeadProps
}

const { meta } = Astro.props
---

<html lang="pl">
    <head>
        <BaseHead {...meta} />
    </head>
    <body>
        <Nav />
        <main class="mt-[112px]">
            <slot />
        </main>
        <div class="wl-container pt-12 pb-24" id="kontakt">
            <div>
                <H2>Kontakt</H2>
            </div>
            <div class="flex items-center">
                <div class="flex-1">
                    <ul class="grid grid-cols-12 gap-x-6">
                        <li class="col-span-4">
                            <a
                                href="tel:56 655 17 17"
                                class="hover:text-primary-yellow-400 border border-stone-200 block text-center py-4 font-semibold hover:border-primary-yellow-100"
                            >
                                56 655 17 17</a
                            >
                        </li>
                        <li class="col-span-4">
                            <a
                                href="tel:661 946 423"
                                class="hover:text-primary-yellow-400 border border-stone-200 block text-center py-4 font-semibold hover:border-primary-yellow-100"
                            >
                                661 946 423</a
                            >
                        </li>
                        <li class="col-span-4">
                            <a
                                href="mailto:sigmatorun@gmail.com"
                                class="hover:text-primary-yellow-400 border border-stone-200 block text-center py-4 font-semibold hover:border-primary-yellow-100"
                            >
                                sigmatorun@gmail.com</a
                            >
                        </li>
                    </ul>
                    <a
                        href="https://www.facebook.com/Sigma-Galeria-Lamp-1566203500315512/?fref=ts"
                        class="mt-3 font-medium flex items-center text-neutral-400 hover:text-primary-yellow-400"
                        ><span
                            class="w-10 h-[1px] inline-block bg-stone-200 mr-5"
                        ></span> Facebok Sigma Galeria Lamp</a
                    >
                </div>
                <div class="w-[300px] pl-10 ml-10 border-l border-stone-200">
                    <H5>Lokalizacja</H5>
                    <Paragraph className="!text-base mt-4"
                        >Nasz sklep mieści się w galerii AMC w Toruniu na ulicy
                        Lelewela 33.</Paragraph
                    >
                    <span
                        class="text-sm font-normal mt-4 inline-block text-neutral-400"
                    >
                        Galeria AMC, Lelewela 33, 87-100 Toruń</span
                    >
                </div>
            </div>
        </div>
        <div class="bg-black">
            <div class="mapouter opacity-100">
                <div class="gmap_canvas">
                    <iframe
                        width="100%"
                        height="500"
                        id="gmap_canvas"
                        src="https://maps.google.com/maps?q=sigma%20toru%C5%84&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        frameborder="0"
                        scrolling="no"
                        marginheight="0"
                        marginwidth="0"></iframe><a
                        href="https://fmovies-online.net">fmovies</a
                    ><br /><style>
                        .mapouter {
                            position: relative;
                            text-align: right;
                            height: 500px;
                            width: 100%;
                        }
                    </style><a href="https://www.embedgooglemap.net"
                        >google maps widget</a
                    ><style>
                        .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                            height: 500px;
                            width: 100%;
                        }
                    </style>
                </div>
            </div>
        </div>
    </body>
</html>
